.navbar {
    background-color: #c43052;
    height: 7vh;
    width: 100%;
    color: rgb(210, 156, 156);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navlink a {
    text-decoration: none;
    color: rgb(224, 213, 213);
  }
  
  .navlink a:hover {
    color: rgb(214, 200, 200);
    background-color: rgb(138, 53, 69);
  }
  
  .avatar {
    height: 3.5vh;
    width: 3.5vh;
    object-fit: cover;
    border-radius: 50%;
  }
  